os:
  - linux
  - osx
language: generic
sudo: required
dist: trusty
osx_image:
  - xcode11.0
  - xcode11.1
install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
script:
  - swift test
